body {
    background-color:grey;
}

.card {
    text-align:center;
    margin: 2em;
}

.buttonDiv {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 2em;
}

.imgDiv {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 2em;
}

button {
    margin:1em;
}

h1 {
    text-align: center;
}